<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=a, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="signup_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/88e649d78c.js" crossorigin="anonymous"></script>
    <title>Fitmate.ai/SignIn Page</title>
</head>

<body>

    <div class="container">
        <div class="navbar">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="logo" class="logo">
            <a class="logo-text">FitMate.ai</a>

            <nav>

                <ul>

                    <li><a href="index.html"><button type="button">HOME</button></a></li>
                    <li><a href="getfit.html"><button type="button">GET BETTER</button></a></li>
                    <li><a href="contact.html"><button type="button">CONTACT</button></a></li>
                    <li><a href="eatbetter.html"><button type="button">EAT BETTER</button></a></li>
                    <li><a href="portfolio.html"><button type="button">PORTFOLIO</button></a></li>
                </ul>
            </nav>
            <a href="myprofile.html"><img src="{{ url_for('static', filename='img/profile3.png') }}" alt="logo" class="profile-icon"></a>





        </div>




    </div>
    </div>
    <div class="form-box">
        <h1 id="title">Sign Up</h1>
        <form action="submission.php" method="post">
            <div class="input-grp">
                <div class="input-field" id="name">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="name" placeholder="name" required>
                </div>

                <div class="input-field" id="email">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" placeholder="email" required>
                </div>

                <div class="input-field" id="age">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="age" placeholder="age" required>
                </div>

                <div class="input-field" id="weight">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="weight" placeholder="weight" required>
                </div>

                <div class="input-field" id="height">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="height" placeholder="height" required>
                </div>

                <div class="input-field" id="bmi">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="bmi" placeholder="bmi" required>
                </div>

                <div class="input-field" id="PhoneNumber">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="PhoneNumber" placeholder="PhoneNumber" required>

                </div>
                <div class="input-field"><p>Previous Health History(Blood Pressure)</div></i>

                <div class="input-field" id="healthhistory">
                    <div class="radio-container">
                        <input type="radio" id="yes" name="healthhistory" value="yes" required>
                        <label for="yes">Yes</label>
                        <input type="radio" id="no" name="healthhistory" value="no" required>
                        <label for="no">No</label>
                    
                </div>
                </div>




                    <!-- <div class="input-field" id="email">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" placeholder="email" required>
                </div> -->
                    <div class="input-field" id="password">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <!-- <button type="submit">signupBtn</button> -->

                    <div class="btn-field">
                        <a href="signin.html"><button type="button" id="signinBtn">SignIn</button></a>
                        <a href="signUp.html"><button type="submit" id="signupBtn">SignUp</button></a>
                    </div>


                    <p>Forget Password <a href="#">Click here!</a></p>
                </div>

        </form>

        <script>
            let signinBtn = document.getElementById("signinBtn");
            let signupBtn = document.getElementById("signupBtn");
            let namefield = document.getElementById("namefield");
            let title = document.getElementById("title");
            function validatePhoneNumber() {
                let phoneNumber = document.getElementById("PhoneNumber").value;
                let pattern = /^[0-9]{9}$/;

                if (!pattern.test(phoneNumber)) {
                    alert("Please enter a valid phone number.");
                    return false;
                }

                return true;
            }
        </script>

</body>

</html>